@charset "utf-8";
/* btn */


.mic {
	background-image: url(../images/mic.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 155px;
}
.mfb {
	Background-position: -0px -0px;
	width: 23px;
	height: 23px;
	margin-right:10px;
	float:left;
}

.mins {
	Background-position: -0px -45.5px;
	width: 20px;
	height: 20px;
	text-indent:-9999px;
}


.mfb02 {
	Background-position: -0px -66px;
	width: 19.5px;
	height: 19.5px;
	text-indent:-9999px;
}

.mlineicon {
	Background-position: -0px -85px;
	width: 19.5px;
	height: 19.5px;
	text-indent:-9999px;
}
.mshare {
	Background-position: -0px -105px;
	width: 94px;
	height: 18px;
	text-indent:-9999px;
	margin-top:4px;
}
.memail {
	Background-position: -0px -123px;
	width: 19.5px;
	height: 18px;
	text-indent:-9999px;
}
.mlogo {
	Background-position: -0px -141px;
	width: 62.5px;
	height: 16px;
}
.mmenu {
	Background-position: -0px -157.5px;
	width: 20.5px;
	height: 17px;
}
.mlikeit {
	Background-position: -0px -174px;
	width: 84px;
	height: 14px;
	text-indent:-9999px;
	margin-top:5px;
	margin-right:5px;
}
.mfblike {
	Background-position: -0px -188px;
	width: 43.5px;
	height: 13px;
}
.mfbshare {
	Background-position: -0px -201px;
	width: 43.5px;
	height: 13px;
}
.mday {
	Background-position: -0px -214px;
	width: 11px;
	height: 12px;
	float:left;
}
.mmay {
	Background-position: -0px -226px;
	width: 155px;
	height: 11px;
}
