@charset "UTF-8";

@media (min-width:1121px){

	#infscr-loading{ 
	  text-align: center;
	  z-index: 100;
	  position: fixed;
	  left: 45%;
	  bottom: 40px;
	  width: 200px;
	  padding: 10px;
	  background: #000; 
	  opacity: 0.8;
	  color: #FFF;
	  -webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
			  border-radius: 10px;
	}
	.hidden-desktop{
		display: none !important;
	}
}

html{
	height: 100%;
}
body{
	font-family: Verdana, 'Noto Sans CJK TC', 'Source Han Sans', "微軟正黑體", sans-serif;
	background: #FFF6CC;
	height: 100%;
}
img{/*改*/
	/*width: auto; 
	height:auto;*/
	max-width: 100%;
	/*max-height:100%;*/
}

#wrapper{
	/*width: 58%;*/
	max-width: 1103px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	overflow-x: hidden;
}
.scroll_top50{
	/*background: url(../images/scroll_top.png) no-repeat;*/
	width: 80px;
	height: 80px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	/*left: -199px;*/
	right: -108px;
}
.scroll_top90{
	/*background: url(../images/scroll_top.png) no-repeat;*/
	width: 80px;
	height: 80px;
	cursor: pointer;
	position: absolute;
	top: 90%;
	/*left: -199px;*/
	right: -108px;
}

#popupBox_Article{
		background: #fff;
		z-index: 1000;
		width: 450px;
		height: 220px;
		position:fixed;
		left:50%;
		top:50%;
		margin-top:-110px;
		margin-left:-225px;
		border-radius:10px;
		box-shadow: 2px 2px 10px #000;
	}
#popupBox_Article .close{
		width:30px;
		height:30px;
		position:relative;
		float:right;
	}
#popupBox_Article .title{
		text-align:center;
		width:400px;
		height:auto;
		position:relative;
		float:left;
		margin-left:20px;
	}
#popupBox_Article .title h1{
		color: #FF8F19;
	}

#popupBox_Article .fb-block{
		width:98%;
		height:auto;
		position:relative;
		float:left;
		margin:5%;
		margin-left:42.5%;
	}
.mask{   
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#666;
	filter: Alpha(Opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	z-index: 950; /*这个数值比pop box小*/
	display:none;
}
#header{
	width: 1103px;
	margin: 0 0;
	height: 35px;
	background: rgba(0%,0%,0%,0);
	float: left;
	position: fixed;
	z-index: 450;
}
#header_background{
	width: 100%;
	margin: 0 0;
	height: 35px;
	background: #FDD100 url(../images/header_bg.png) repeat-x;
	position: fixed;
	z-index: 400;
	box-shadow: 2px 2px 10px #888888;
}
.headerL{
	float: left;
	width: 46%;
	margin-top: 2px;
	/*height: 90px;
	font-weight: bold;*/
}
.headerL span{
	display: block;
	float: left;
	text-align: center;
	/*border-right: 1px solid #000;
	width: 170px;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;*/
	border-left: 1px solid #000;
	width: 12%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 15px;
	letter-spacing: 0.2em;
	font-size: 1.0em;
}
.headerL span:nth-last-of-type(1){
	border-right: 1px solid #000;
}
.headerL span a{
	text-decoration: none;
	color: #000;
	display: block;
}
.headerL span a:hover{
	color: #6C6A6A;
}
.headerC{
	float: left;
	/*width: 33%;*/
	width: 20%;
	height: 35px;
	text-align: center;
	display: table;
}
.headerC img{
	width:auto;
	height:25px;
	margin-top:2px;
}
.headerC > p{
	display: table-cell;
	vertical-align: middle;
}
.headerR{
	float: left;
	width: 27%;
	padding-top: 6px;
	padding-left: 4.5%;
}
.headerR .search{
	background: url(../images/search_bg.png) no-repeat;
	background-size: 100% 75%;
	width: 166px;
	height: 33px;
	padding: 0px 0px 0px 8px;
	float: left;
}
.headerR .search input{
	float: left;
	width: 82%;
	padding-right: 4%;
	margin-top: 3px;
	font-size: 0.75em;
	border: none;
}
.headerR .search .btn{
	float: left;
	margin: 2px 0 0 0;
}
.headerR .search .btn img{/*改*/
	cursor:pointer;
}
.headerR span{
	display: block;
	float: left;
	padding-left: 10px;
}
.headerR span img{
	width:auto;
	height:23px;
}
.mobile-switch{
	background: url(../images/mobile-switch.png) no-repeat;
	background-size: 60% 80%;
	width: 41px;
	height: 20px;
	position: absolute;
	top: 28%;
	left: 3%;
	cursor: pointer;
}
.mobile-list{
	margin: 0;
	padding: 0;
	width: 100%;
	height:auto;
	display: none;
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	z-index: 600;
	opacity: 0;
	background: rgba(253, 209, 0, 0.9);
}
.mobile-list .mobileClose{
	cursor: pointer;
	padding-left: 6%;
	padding-top: 6%;
}
.mobile-list li{
	list-style: none;
	font-size: 1.6em;
	letter-spacing: 0.2em;
}
.mobile-list li a{
	display: block;
	padding: 2% 0;
	text-align: center;
	color: #000;
	text-decoration: none;
}
.mobile-list li a:hover{
	color: #6c6a6a;
}
.mobile-fb{
	position: absolute;
	top: 15%;
	right: 15%;
}
.mobile-fb img{
	width:auto;
	height:23px;
}
.mobile-insta{
	position: absolute;
	top: 15%;
	right: 3%;
}
.mobile-insta img{
	width:auto;
	height:23px;
}
.mobile-contact{
	position: absolute;
	top: 15%;
	right: 3%;
}
#content{
	width: 96%;
	margin: 0 2%;
}
.subtitle{
	/*text-align: center;*/
	float: left;
	margin: 60px 0px 30px 20px;
	width: 100%;
}
.subtitle img{
	margin-left: 0.6%;
	width:120px;
}
.subtitle-advtise{
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.subtitle-advtiseL{
	float: left;
	width: 70%;
	overflow:hidden;         /*--設定超出的內容隱藏, IE, FireFox通用--*/

}
.banner{
	width: 100%;
	margin-bottom: 30px;
	float: left;
	position: relative;
}
/*.carousel-inner::before{
	content: "";
	background-color: #18191a;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.2s linear;
}
.carousel-inner:hover::before{
	opacity: 0.5;
}
.black_shadow{
	background-color: #18191a;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.2s linear;
}
.black_shadow:hover{
	opacity: 0.5;
}*/
.fblike{
	/*background: url(../images/fblike_bg.png) no-repeat;*/
	background: #fff;
	/*width: 50px;*/
	width: 60px;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
	height: 128px;
	text-align: center;
	/*position: absolute;
	top: 0px;
	left: -82px;*/
	position: fixed;
	top: 283px;
	margin: 0 0 0 -111px;
	padding: 10px 5px;
}
.subtitle-advtiseR{
	float: left;
	width: 26%;
	min-height: 68px;
	border: 1px solid #000;
	margin-left: 1.5%;
	font-size: 0.9em;
	padding: 1%;
}
.subtitle-advtiseR .title{
	margin: 0 0 15px 0;
	color: #6c6a6a;
}
.content_section{
	width: 100%;
	float: left;
}
.content_sectionL{
	float: left;
	width: 70%;
	/*margin-bottom: 22px;*/
}
.sorry_error{/*改*/
	color: #333;
	background-color: #FFF6CC;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
}
.content_sectionL_in{/*改*/
	border-bottom-style: none;
}
.content_sectionR{
	float: right;
	width: 28%;
	margin-left: 1.5%;
	text-align: right;
}
.content_block{
	border-top: 1px solid #6c6a6a;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.content_block .title{
	width: 100%;
	float: left;
	position: relative;
}
.content_block .title .titleL{
	float: left;
	width: 92%;
	padding-right: 3%;
}
.content_block .title .titleR{
	float: left;
	background: url(../images/tag.png) no-repeat 0px -2px;
	/*width: 5%;*/
	width: 38px;
	height: 52px;
	line-height: 44px;
	/*padding-top: 10px;*/
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
	position: absolute;
	top: 0px;
	right: 0px;
}
.content_block .title .titleR a{
	text-decoration: none;
	color: #000;
	display: block;
}
.content_block .title .titleR a:hover{
	color: #6c6a6a;
}
.content_block .title .titleL h3{
	margin: 10px 0px 15px 0px;
	color: #6c6a6a;
	font-weight: normal;
	font-size: 1.5em;
}
.content_block .title .titleL h3 a{
	text-decoration: none;
	color: #6c6a6a;
}
.content_block .title .titleL h3 a:hover{
	opacity: 0.5;
}

.content_block .date{
	width: 100%;
	font-size: 0.75em;
	float: left;
	margin-bottom: 10px;
}
.content_block .date span{
	display: block;
	height: 20px;
	float: left;
	margin-right: 2%;
}
.content_block .date .date_text{
	line-height: 20px;
}
.content_block .thumbimg{
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.content_block .thumbimg img{
	width: 100%;
	height: 100%;
}
.content_block .thumbimg:hover{
	opacity: 0.5;
}
.content_block .description{
	float: left;
	width: 100%;
	/*margin-bottom: 15px;*/
	line-height: 1.5em;
}
.content_block .description .btn{
	float: right;
	padding-top: 15px;
}
.content_sectionL .content_block .description img{/*改*/
	/*width:auto;
	height:auto!important;
	max-width: 100%;
	max-height:100%!important;*/
	width: 100% !important;
	height: 100% !important;
}
.content_sectionL .content_block .description iframe{
	width: 100%;
}
.pagination_outer{
	float: left;
	/*width: 68%;*/
	width: 100%;
	border-top: 1px solid #000;
}
.pagination_outer > div{
	display: table;
	margin: 0 auto;
}
.pagination{
	float: left;
	padding: 40px 0px;
	margin: 0;
}
.pagination li{
	list-style: none;
	float: left;
	/*padding: 0px 8px;*/
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 0 5px;
}
.pagination li a{
	text-decoration: none;
	color: #000;
	display: block;
}
.pagination li a:hover{
	color: #fcc900;
}
.pagination li.active{
	background: url(../images/pagination_active.png) no-repeat;
}
#slidebar_adv{
	/*width: 15.7%;
	width: 100%;*/
	/*position: static;*/
	overflow: hidden;
}
#slidebar_goTop{
	display: none;
	position: fixed;
	max-width: 100px;
	top:60px;
	right:20px;
	z-index:100;
	opacity:1;
}
.content_blockAdv{
	width: 100%;
	background: #FEFAE5;
	margin-bottom: 15px;
	overflow: hidden;
	text-align:center;
}
.recommend_block:hover{
	border: 2px solid #FDD100;
}
.content_blockAdv a{
	text-decoration: none;
	color: #000;
}
.content_blockAdv a:hover{
	text-decoration: underline;
}
.content_blockAdv .thumbimg{
	width: 100%;
}
.content_blockAdv .title{
	text-align: left;
	min-height: 47px;
	padding: 15px;
	line-height: 1.3em;
}
.content_blockFB{
	width: 98%;
	background: #fff;
	margin-bottom: 15px;
	padding: 0%;
	border: 0px solid #b9b9b9;
}
#idle_header{
	float:left;
	width:750px;
	margin: 0 0;
	height: 35px;
	background: #FDD100 url(../images/header_bg.png) repeat-x;
	position: fixed;
	z-index: 400;
	box-shadow: 2px 2px 10px #888888;
	text-align: center;
}
#idle_wrapper{
	float:left;
	width:750px;
	height:760px;
	background-color:#fff;
}
.mt_30{
	margin-top: 5px;
}
.idle_container{
	float: left;
	max-width: 96%;
	margin-left:2%;
}
.idle_center{
	margin: 0 auto;
}
.idle_showbox{
	float: left;
	width: 48%;
	margin-right:2%;
}
.idle_showbox img{
	width:100%;
	height:100%;
}
.idle_list{
	float: right;
	width: 48%;
	margin-left:2%;
}
.idle_list li img{
	display: none;
}
.idle_list ul{
	margin:0; 
	padding:0;
}
.idle_list li{
	float:left;
	font-family: Verdana, 'Noto Sans CJK TC', 'Source Han Sans', "微軟正黑體", sans-serif;
	width: 100%;
	height: 35px;
	margin-bottom:5px;
	list-style:none;
	background:#F5F5F5;
	white-space: nowrap; 
	text-overflow: ellipsis;
	overflow: hidden;
	line-height:35px;
}
.idle_list li a{
	text-decoration:none;
	color: #000000;
}
.idle_list li a:hover{
	text-decoration:underline;
}
.idle_list .titleL{
	float: left;
	background: url(../images/tag.png) no-repeat 0px 0px;
	background-size:19px;
	/*width: 5%;*/
	width: 19px;
	height: 26px;
	line-height: 22px;
	/*padding-top: 10px;*/
	font-weight: bold;
	text-align: center;
	font-size: 0.9em;
	/*position: absolute;*/
	top: 0px;
	left: 0px;
	margin-right:2%;
}
.idle_list .title a{
	text-decoration: none;
	color: #000;
	display: block;
}
.idle_adv{
	float: left;
	width: 96%;
	border: 1px solid #b9b9b9;
	padding: 1% 0px;
	margin-left:2%;
	margin-top:1%;
}
.idle_adv li{
	list-style: none;
	float: left;
	margin-left: 2%;
	overflow: hidden;
}
.idle_footer{
	margin-left: 270px;
}
#ecclipsis{

}
.advertisement{
	float: left;
	width: 70%;
	border: 1px solid #b9b9b9;
	padding: 15px 0px;
	margin: 0px 0px 17px 0px;
}
.advertisement li{
	list-style: none;
	float: left;
	padding-left: 15px;
	overflow: hidden;
}
.advertisement_detail{
	width: 99.7%;
	/*margin: 50px 0 45px 0;*/
	margin: 0;
	float: left;
	border: 1px solid #b9b9b9;
	padding: 15px 0px;
	margin-bottom: 17px;
}
.advertisement_detail li{
	list-style: none;
	float: left;
	padding-left: 15px;
	overflow: hidden;
}
.fbslide{
	/*float: left;
	margin-left: 3.5%;*/
	text-align: right;
	/*width: 26%;*/
	border: 1px solid #b9b9b9;
	font-size: 0.9em;
	padding: 1%;
	/*position: relative;
	top: 250px;*/
	position: fixed;
	right: 0px;
	bottom: -250px;
	opacity: 0.3;
	background: #fff;
	z-index: 99;
}
.fbslide .closebtn{
	background: url(../images/fbslide_btn2.png) no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 3%;
	right: 3%;
	cursor: pointer;
}
.fbslide .title{
	margin: 0 0 15px 0;
	width: 95%;
	padding-right: 5%;
	text-align: left;
	line-height: 1.5em;
	color: #c56034;
}
#footer{
	width: 96%;
	margin: 0 2%;
	height: 50px;
	/*background: url(../images/footer_bg.png) repeat-x;*/
	background: #fff;
	position: relative;
}
.footer_logo{
	width: 68%;
	float: left;
	text-align: center;
	margin-top: 7px;
}
#footer ul{
	width: 68%;
	float: left;
	margin: 0;
	padding: 0;
}
#footer ul li{
	list-style: none;
	float: left;
	border-right: 1px solid #000;
	width: 24.8%;
	font-size: 1.3em;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin-top: 20px;
}
#footer ul li a{
	text-decoration: none;
	color: #000;
	display: block;
}
#footer ul li a:hover{
	color: #fff;
}
/*#footer ul{
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 12%;
}
#footer ul li{
	list-style: none;
	float: left;
	border-right: 1px solid #000;
	padding: 0 20px;
	font-size: 0.75em;
	height: 18px;
	line-height: 18px;
}
.mailinfo a{
	text-decoration: none;
	color: #000;
}
.mailinfo a:hover{
	color: #6c6a6a;
}*/

/* about */

.beadcrumbs_img{
	position: relative;
	float: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
.beadcrumbs_img a{
	height: 96%;
	width:23%;
	display:block;
	text-indent: -9999px;
	position: absolute;
}
.about_description{
	line-height: 1.5em;
}
.contact_btn{
	width: 100%;
	text-align: center;
	padding: 150px 0;
}


/* contact */

.contact_description{
	width: 100%;
}
.contact_block{
	width: 100%;
	float: left;
	margin: 15px 0;
}
.contact_blockL{
	float: left;
	width: 23%;
	text-align: center;
	font-size: 1.3em;
}
.contact_blockR{
	float: left;
	width: 77%;
}
.contact_blockR input, .contact_blockR textarea{
	width: 99%;
}
.contact_submit{
	width: 100%;
	text-align: right;
	margin-bottom: 15px;
}

/* news_type */

.news_type_block{
	width: 100%;
	margin-bottom: 15px;
	position: relative;
}
.news_type_block .tag{
	background: url(../images/tag.png) no-repeat;
	width: 38px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	position: absolute;
	top: -2px;
	right: 5%;
	font-weight: bold;
}
.news_type_block .tag a{
	text-decoration: none;
	color: #000;
	display: block;
}
.news_type_block .tag a:hover{
	color: #6c6a6a;
}
.bottom_scrollTop{
	/*width: 68%;*/
	width: 100%;
	text-align: right;
	/*border-top: 1px solid #000;*/
}
.bottom_scrollTop img{
	cursor: pointer;
}
.desktop_advertisement{
	width: 100%;
	border: 1px solid #e2e3e3;
	text-align: center;
}

/* news_detail */

.news_detail_block{
	margin-bottom: 17px;
}
.fb_block{
	float: left;
	/*width: 68%;*/
	width: 100%;
	/*padding: 15px 0 22px 0;*/
	margin-bottom: 13px;
}
.fb_line{
	text-align: center;
	border-bottom:1px solid #CCCCCC;
	/*width: 68%;*/
	/*padding: 15px 0 22px 0;*/
}

.fbshare_btn{
	float: left;
	width: 49%;
	padding-right: 1%;
}
.fbjoin_btn{
	float: left;
	width: 49%;
	padding-left: 1%;
}
.page_btn{
	float: left;
	/*width: 68%;*/
	width: 100%;
	/*margin-bottom: 15px;*/
	margin-bottom: 17px;
}
.page_btn span{
	display: block;
	float: left;
	height: 70px;
	line-height: 80px;
}
.page_btn span a{
	display: block;
	/*height: 45px;
	padding-top: 25px;*/
}
.page_btn .prev{
	/*width: 358px;*/
	width: 50%;
	border: 1px solid #6c6a6a;
	border-right: none;
}
.page_btn .next{
	/*width: 358px;*/
	width: 49.5%;
	border: 1px solid #6c6a6a;
}
.like_section{
	width: 70%;
	/*width: 100%;*/
	float: left;
	/*margin: 30px 0 100px 0;*/
	margin: 0 0 50px 0;
}
.like_section_detail{
	width: 100%;
	/*width: 100%;*/
	float: left;
	/*margin: 30px 0 100px 0;*/
	margin: 0 0 50px 0;
}
.like_section .like_block:nth-of-type(1){
	padding-right: 17.5px;
}
.like_section .like_block:nth-of-type(2){
	padding: 0 17.5px;
}
.like_section .like_block:nth-of-type(3){
	padding-left: 17.5px;
}
.like_block{/*改*/
	float: left;
	/*width: 221px;*/
	width: 30%;
    min-height: 305px;
	/*max-height: 320px;*/
	/*padding: 0 11px;*/
	border-right: 1px dotted #6c6a6a;
}
.like_blockimg{
	width: 100%;
	text-align: center;
	margin: 0 0 10px 0;
}
.like_blockimg:hover{
	opacity: 0.5;
}
.like_blockdescription a{
	color: #000;
	text-decoration: none;
	line-height: 1.5em;
}
.like_blockdescription a:hover{
	opacity: 0.5;
}
.recommendRead_section{
	margin-bottom: 37px;
}
.recommendRead_block{
	float: left;
	width: 47%;
	margin: 0 1.5% 10px 1.5%;
	/*max-height: 200px;*/
	border-bottom: 1px dotted #6c6a6a;
}
.recommendRead_block_ysm{
	float: left;
	width: 100%;
}
.recommendRead_img{
	float: left;
	/*width: 45%;*/
	width: 19%;
}
.recommendRead_img img{
	display: block;
}
.recommendRead_img img:hover{
	opacity: 0.5;
}
.recommendRead_description{
	float: right;
	margin-left: 2%;
	/*width: 53%;*/
	width: 79%;
}
.recommendRead_description a{
	color: #000;
	text-decoration: none;
}
.recommendRead_description a:hover{
	opacity: 0.5;
}
.delete_block{
	width: 100%;
	text-align: center;
	border-top: 1px solid #6c6a6a;
}
.delete_block .icon{
	margin: 100px 0px 50px 0;
}
.delete_block .btn_home{}

.visible-mobile, .visible-tablet{
	display: none !important;
}
@-moz-document url-prefix(){
	.carousel-control.left{
		/*bottom: -4px !important;*/
		bottom: -1px !important;
	}
	.carousel-control.right{
		/*right: 0px !important;
		bottom: -4px !important;*/
		bottom: -1px !important;
	}
}
.top-right-fb-like-button{
	overflow: hidden;
	display: inline-block;
	transform: scale(2.0);
	-ms-transform: scale(2.0);
	-webkit-transform: scale(2.0);
	-o-transform: scale(2.0);
	-moz-transform: scale(2.0);
	margin-top: 12px;
	transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
}
.fb_iframe_widget{
	vertical-align: top !important;
}

@media (max-width: 767px){
	#header{
		width: 100%;
	}
	#popupBox{
		z-index: 1000;
		width: 300px;
		height: 300px;
		position:fixed;
		left:50%;
		top:50%;
		
		margin-top:-150px;
		margin-left:-150px;
		display:none;
	}
	.popupBox-close{
		width:30px;
		height:30px;
		position:fixed;
		left:50%;
		top:50%;
		z-index: 1050;
		margin-top: -155px;
		margin-left: 125px;
		display:none;
	}
	.mask{   
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		background-color:#666;
		filter: Alpha(Opacity=80);
		-moz-opacity: 0.8;
		opacity: 0.8;
		z-index: 950; /*这个数值比pop box小*/ 
		display:none;
    }
	#infscr-loading{ 
	  text-align: center;
	}
	#wrapper{
		width: 100%;
	}
	#header{
		width: 100%;
		margin: 0;
		box-shadow: 2px 2px 10px #888888;
		position: fixed;
	}
	.headerL span{
		font-size: 0.8em;
	}
	/*.headerL{
		width: 50%;
	}*/
	.headerC{
		width:100%;
		height:35px;
	} 
	.fb_line{
		font-size: 12px;
	}
	.carousel-control{
		bottom: 3px !important;
	}
	.carousel-control.left{
		width: 48%;
		left: 5.3px !important;
	}
	.carousel-control.right{
		width: 48%;
		right: 5.3px !important;
	}
	.subtitle{
		text-align: center;
		margin: 60px 15px 30px 0px;
	}
	.subtitle img{
		width: 180px;
	}
	.subtitle-advtise{
		margin-bottom: 15px;
	}
	.subtitle-advtiseL{
		width: 100%;
	}
	.banner{
		margin-bottom: 15px;
	}
	.content_sectionL{
		width: 100%;
		margin: 0;
	}
	.content_block .title .titleL{
		width: 85%;
		padding-right: 3%;
	}
	/*.content_block .title .titleR{
		width: 12%;
	}*/
	.content_blockAdv{
		/*width: 83%;*/
		max-width: 286px;
		margin: 15px auto 15px auto;
	}
	.content_block .title .titleL h3{
		font-size: 1.2em;
	}
	.content_block .fb_share img{
		width: 50px;
	}
	.content_block .date .fb_share img{
		width: 50px;
	}
	.content_block .description{
		font-size: 0.9em;
	}
	.content_block .description .btn{
		text-align: right;
		padding-top: 5px;
	}
	.content_block .description .btn img{
		width: 70%;
	}
	.pagination_outer{
		width: 100%;
	}
	.pagination li{
		list-style: none;
		float: left;
		/*padding: 0px 5px;*/
		margin: 0;
	}
	.mobile-fb{
		right: 12%;
	}
	.mobile-insta{
		right: 3%;
	}
	.mobile_advertisement{
		border: 1px solid #e2e3e3;
		text-align: center;
		width: 100%;
		float: left;
		margin-bottom: 15px;
		overflow: hidden;
	}
	#footer{
		width: 100%;
		margin: 0;
	}
	#footer ul{
		width: 100%;
	}
	#footer ul li{
		width: 100%;
		border-right: none;
		margin-top: 0px;
		line-height: 0px;
		letter-spacing: 0.1em;
		height: 45px;
		line-height: 45px;
	}
	#footer ul li a{
		display: block;
		width: 100%;
		height: 45px;
	}
	.mobile_footer{
		width: 100%;
		font-size: 0.75em;
		position: absolute;
		bottom: 13%;
		text-align: center;
	}
	.about_description{
		font-size: 0.8em;
	}
	.contact_btn{
		padding: 50px 0px 250px 0px;
	}
	.contact_btn img{
		width: 35%;
	}
	.contact_block{
		margin: 0 0 15px 0;
	}
	.contact_blockL{
		font-size: 1em;
	}
	.contact_submit img{
		width: 35%;
	}
	.news_type_block{
		margin-bottom: 10px;
	}
	.bottom_scrollTop{
		width: 100%;
	}
	.fb_block{
		width: 100%;
	}
	.fbshare_btn{
		width: 100%;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.fbjoin_btn{
		width: 100%;
		padding-left: 0;
	}
	.page_btn{
		width: 100%;
		margin: 0 0 17px 0;
	}
	.page_btn span{
		height: 40px;
		line-height: 40px;
	}
	/*.page_btn span a{
		height: 30px;
		padding-top: 10px;
	}*/
	.page_btn .prev{
		width: 49.5%;
	}
	.like_section{
		width: 100%;
		/*margin: 20px 0 40px 0;*/
		margin: 0 0 22px 0;
	}
	.like_section .like_block:nth-of-type(1){
		padding: 0 7.5% 0 0;
	}
	.like_section .like_block:nth-of-type(2){
		padding: 0 0 0 7.5%;
	}
	.like_block{
		width: 42%;
		min-height: 222px;
		font-size: 0.8em;
	}
	.recommendRead_block{
		width: 100%;
	}
	.recommendRead_description{
		font-size: 0.9em;
	}
	.delete_block img{
		margin: 30px 0 0px 0;
	}
	.delete_block .icon{
		margin: 50px 0px 25px 0;
	}
	.delete_block .icon > img{
		width: 50%;
	}
	.delete_block .btn_home{
		margin-bottom: 60px;
	}
	.mobileADV{
		width: 100%;
		overflow: hidden;
	}
	.visible-mobile{
		display: block !important;
	}
	.hidden-mobile{
		display: none !important;
	}
}
@media (min-width:768px) and (max-width: 1120px){
	/*#popupBox{
		z-index: 200;
		width: 300px;
		height: 300px;
		position:fixed;
		left:50%;
		top:50%;
		
		margin-top:-150px;
		margin-left:-150px;
	}
	.popupBox-close{
		width:30px;
		height:30px;
		position:fixed;
		left:50%;
		top:50%;
		z-index: 250;
		margin-top: -155px;
		margin-left: 125px;
	}*/
	#header{
		width: 780px;
	}
	#infscr-loading { 
	  text-align: center;
	  z-index: 100;
	  position: fixed;
	  left: 45%;
	  bottom: 40px;
	  width: 200px;
	  padding: 10px;
	  background: #000; 
	  opacity: 0.8;
	  color: #FFF;
	  -webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
			  border-radius: 10px;
	}
	#wrapper{
		/*width: 80%;*/
		max-width: 780px;
	}
	.headerL span{
		/*width: 95px;*/
		font-size: 0.9em;
	}
	.headerR{
		padding-left: 2%;
	}
	.headerR .search{
		margin-left:20px;
	}
	.carousel-control.left{
		width: 49%;
		left: 5px !important;
	}
	.carousel-control.right{
		width: 49%;
		right: 5px !important;
	}
	.subtitle-advtiseR{
		height: 36px;
		font-size: 0.75em;
		min-height: 0px;
	}
	.subtitle-advtiseR .title{
		margin-bottom: 5px;
	}
	.content_block .title .titleL{
		width: 89%;
		padding-right: 3%;
	}
	/*.content_block .title .titleR{
		width: 8%;
	}*/
	.content_block .title .titleL h3{
		font-size: 1.2em;
	}
	.content_block .description{
		font-size: 0.9em;
	}
	.content_block .description .btn{
		text-align: right;
		padding-top: 5px;
	}
	.content_block .description .btn img{
		width: 80%;
	}
	.content_blockAdv .title{
		text-align: left;
		min-height: 0px;
		padding: 8px;
		font-size: 0.9em;
		line-height: 1.2em;
	}
	.advertisement li,.advertisement_detail li{
		width: 45%;
		padding-left: 14px;
	}
	.fbslide{
		font-size: 0.8em;
		height: 171px;
		margin-left: 3.3%;
		overflow: hidden;
	}
	.fbslide .title{
		width: 90%;
		padding-right: 10%;
	}
	#footer ul li{
		/*padding: 0 8px;*/
		font-size: 1.2em;
	}
	.about_description{
		font-size: 0.9em;
	}
	.contact_btn{
		padding: 50px 0px;
	}
	.contact_btn img{
		width: 30%;
	}
	.contact_blockL{
		font-size: 1.1em;
	}
	.contact_submit img{
		width: 30%;
	}
	.page_btn span{
		height: 60px;
		line-height: 60px;
	}
	/*.page_btn span a{
		height: 37px;
		padding-top: 23px;
	}*/
	.page_btn .prev{
		width: 49.5%;
	}
	.like_section .like_block:nth-of-type(1){
		padding-right: 12px;
	}
	.like_section .like_block:nth-of-type(2){
		padding: 0 12px;
	}
	.like_section .like_block:nth-of-type(3){
		padding-left: 12px;
	}
	.like_block{
		min-height: 240px;
		/*padding: 0 6px;*/
		font-size: 0.9em;
	}
	.recommendRead_block{
		width: 100%;
	}
	.recommendRead_img{
		width: 14%;
	}
	.recommendRead_description{
		width: 84%;
		font-size: 0.9em;
	}
	.delete_block .icon > img{
		width: 40%;
	}
	.hidden-tablet{
		display: none !important;
	}
	.visible-tablet{
		display: block !important;
	}
}

/**********************************/
/***********Common CSS*************/
/**********************************/

.height_adjust{
	height: 600px;
}
.clear{
	clear: both;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.border_leftNone{
	border-left: none;
}
.border_rightNone{
	border-right: none;
}
.border_bottomNone{
	border-bottom: none;
}
.border_yellow{
	border: 1px solid #FDD100;
}
.mt_15{
	margin-top: 15px;
}
.mb_5{
	margin-bottom: 5px;
}
.mb_15{
	margin-bottom: 15px;
}
.mb_30{
	margin-bottom: 30px;
}
